/* CSS Variables */
:root {
    --darkblue: #1F363D;
    --teal: #40798C;
    --text-color: #70A9A1;
    --green: #9EC1A3;
    --light: #CFE0C3;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Body Styling */
body {
    font-family: 'Questrial', sans-serif;
    background-color: var(--darkblue);
    width: 100%;
    height: 100%;
}

/* Header Styling */
header {
    background-color: var(--darkblue);
}

.stats-timer {
    width: auto;
    text-align: center;
    box-shadow: 0 4px 10px 8px rgba(0,0,0,0.2);
    padding: 10px 0 10px 0;
}

/* Timer Styling */
div.timer {
    color: var(--light);
    font-size: 1rem;
}

#time {
    font-size: 2rem;
}

/* Scoresheet Container Styling */
.scoresheet {
    padding: 5px 0 5px 0;
}

/* Highscores Btn styling */
a {
    cursor: pointer;
    color: var(--teal);
    text-decoration: none;
}

a:hover {
    color: var(--light);
}

.start-screen {
    text-align: center;
}
/* Apply Flex to Containers */
div.container,
div.results-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

section.container {
    margin: 2rem;
}

/* Hide Class for hidden objects */
.hidden {
    display: none;
}

section h1 {
    color: var(--text-color);
    font-size: 2rem;
}
section p {
    color: var(--text-color);
    margin: 10px;
    padding: 10px;
}
#caution {
    color: red;
}
/* Start Btn Styling */
.strt-btn {
    font-family: 'Questrial', sans-serif;
    color: var(--light);
    background-color: var(--darkblue);
    /* border-color: black; */
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 20px;
    width: 200px;
}
.strt-btn:hover {
    background-color: var(--darkblue);
    box-shadow: 0 4px 10px 8px rgba(0,0,0,0.2);
}


/* Card Styling */
#card {
    width: 50%;
    height: auto;
    border-radius: 20px;
    background-color: var(--text-color);
    padding: 2rem 1rem 1rem 1rem;
    box-shadow: 0 4px 10px 8px rgba(0,0,0,0.2);
}

/* Question Container Styling */
#question {
    color: var(--light);
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1.2rem;
}

/* Current Question Styling */
#question-title {
    margin: 0 0 3rem 2rem;
}

/* Build grid for the 4 answer options */
.grid-container {
    border: none;
    display: grid;
    grid-template-areas: "option1 option2"
                         "option3 option4";
    grid-gap: 1rem;
    margin: 1rem;
}

/* Styling for individual question options */
    .grid-item {
        font-family: 'Questrial', sans-serif;
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: var(--teal);
        color: white;
        font-size: 1rem;
        white-space: nowrap;
        border-radius: 20px;
        padding: 10px 10px;
        width: auto;
    }

    /* Added styling and pointer cursor on hover */
    .grid-item:hover {
        background-color: var(--green);
        color: var(--light);
        border: 1px black;
        cursor: pointer;
    }
    /* Correct option styling */
    .grid-item.correct:hover {
        color: var(--light);
        background-color: var(--light);
    }
    /* Incorrect option styling */
    .grid-item.wrong:hover {
        background: var(--darkblue);
        color: var(--darkblue);
    }

/* Feedback styling */
.check {
    margin-top: 2rem;
    text-align: center;
    color: var(--light);
}

/* Results Page Container */
.results {
    color: var(--text-color);
}

/* Results Title Styling */
h2 {
    font-size: 2rem;
    margin: 5px;
}

/* Player Score Styling */
.playerScore {
    padding: 1rem;
    font-size: 1.5rem;
}

#userScore {
    color: red;
}

/* Score Input Styling */
input[type="text"] {
    font-family: 'Questrial', sans-serif;
    background-color: var(--light);
    height: 1.5rem;
    border: none;
    padding: 5px;
    border-radius: 20px;
}

input:focus {
    outline: none;
    color: red;
}

/* Submit Btn Styling */
#submit,
#backBtn,
#clear {
    font-family: 'Questrial', sans-serif;
    color: var(--light);
    background-color: var(--darkblue);
    border-radius: 20px;
    padding: 10px; 
}
#submit:hover{
    box-shadow: 0 4px 10px 8px rgba(0,0,0,0.2);
}

/* Highscores Page Styling */

/* Highscores title styling */
.title {
    padding-top: 20px;
    font-size: 3rem;
    color: var(--text-color);
    box-shadow: 0 4px 10px 8px rgba(0,0,0,0.2);
    text-align: center;
    height: 5rem;
}

hr {
    height: 2px;
    width: 40%;
    background-color: var(--text-color);
    border: none;
    margin: 20px 0 30px 0
}

#highscores {
    color: var(--light);
    font-size: 1.4rem;
    padding: 1rem;
}

#scorecard {
    background-color: var(--teal);
    border-radius: 20px;
    width: 200px;
    height: auto;
    text-align: center;
    box-shadow: 0 0px 10px 8px rgba(0,0,0,0.2);
    border: 2px solid var(--green)
}

ol {
    list-style: none;
}

#backBtn {
    margin-bottom: 10px;
    width:200px;
}

#backBtn:hover,
#clear:hover {
    background-color: var(--light);
    color: var(--text-color);
}

#clear {
    width: 200px;
}